.timelineLine {
  position: absolute;
  left: 0;
  top: 0.5rem;
  bottom: 0;
  width: 1px;
  background: var(--ifm-toc-border-color);
}
.timelineDot {
  position: absolute;
  left: -4px;
  top: 0.5rem;
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: var(--ifm-color-primary);
}

.timeline-title {
  font-size: 2rem;
  color: #f7f8f8;
  line-height: 1.125;
  font-weight: 590;
}

.timeline-title:hover {
  text-decoration: none;
}

.subtitle {
  color: #8a8f98;
  font-size: 0.9375rem;
  line-height: 1.6;
  letter-spacing: -0.011em;
}

.timeline-root {
  position: relative;
}

.timeline-item {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline-left {
  position: sticky;
  top: 5rem;
  max-height: calc(100vh - var(--ifm-navbar-height) - 32px);
  overflow: auto;
  padding-top: 0.3rem;
}

.timeline-date {
  display: block;
  opacity: 0.8;
  font-style: italic;
  font-size: 0.875rem;
  color: #ffffff;
}

.timeline-version {
  margin-top: 0.5rem;
}

.timeline-right {
  position: relative;
  padding-left: 1.7rem;
  --tl-x: 0.25rem;
  --tl-line-w: 1px;
  --tl-dot: 8px;
  --tl-fade: 100px;
}

.timeline-line {
  position: absolute;
  left: var(--tl-x);
  top: 0.8rem;
  bottom: 0;
  width: var(--tl-line-w);
  background: #8181813f;

  mask-image: linear-gradient(
    to bottom,
    black calc(100% - var(--tl-fade)),
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black calc(100% - var(--tl-fade)),
    transparent
  );
}

.badge {
  background-color: transparent;
  color: oklch(100.8% 0 0);
  padding-inline: 0.4em;
  padding-block: 0.2em;
  border-radius: 0.625rem;
  border: 1px solid #424242ac;
  width: calc(0.25rem * 10);
  height: calc(0.25rem * 10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  background-color: oklch(26.9% 0 0);
  color: oklch(70.8% 0 0);
  padding-inline: 0.4em;
  padding-block: 0.2em;
  border-radius: 0.375rem;
  border: 1px solid #4e4e4e8b;
  font-size: 0.755rem;
}

.tags-container {
  margin-bottom: 1.5rem !important;
}

.timeline-dot {
  position: absolute;
  left: var(--tl-x);
  top: 0.8rem;
  width: var(--tl-dot);
  height: var(--tl-dot);
  border-radius: 999px;
  background: #02afff;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-content {
  margin-left: 2rem;
}

.timeline-content img {
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: 0.375rem;
}

.changelog-accordion {
  margin-top: 1.5rem !important;
}

.changelog-post {
  color: #d0d6e0;
  font-size: 0.95rem;
}

.changelog-post p {
  margin-bottom: 0.5rem !important;
}
